---
Checks: '-*,bugprone-*,cert-*,clang-*, clang-analyzer-*, cppcoreguidelines-*,google-*,hicpp-*,llvm-else-after-return,llvm-header-guard,llvm-namespace-comment,llvm-prefer-*,llvm-qualified-auto,llvm-twine-local,misc-*,modernize-avoid-*,modernize-concat-nested-namespaces,modernize-deprecated-*,modernize-loop-convert,modernize-make-*,modernize-pass-by-value,modernize-raw-string-literal,modernize-redundant-void-arg,modernize-replace-*,modernize-return-braced-init-list,modernize-shrink-to-fit,modernize-unary-static-assert,modernize-use-auto,modernize-use-bool-literals,modernize-use-default-member-init,modernize-use-emplace,modernize-use-equals-*,modernize-use-nodiscard,modernize-use-noexcept,modernize-use-nullptr,modernize-use-override,modernize-use-transparent-functors,modernize-use-uncaught-exceptions,modernize-use-using,performance-*,readability-*,-google-readability-todo,-modernize-use-nodiscard,-readability-avoid-const-params-in-decls'
WarningsAsErrors: 'bugprone-,cert-,cppcoreguidelines-*'
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.cpm_cache'
FormatStyle:     none
CheckOptions:
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  hicpp-special-member-functions.AllowSoleDefaultDtor: true

  # See https://github.com/llvm/llvm-project/issues/42391
  performance-move-const-arg.CheckTriviallyCopyableMove: false
  hicpp-move-const-arg.CheckTriviallyCopyableMove: false
  performance-move-const-arg.CheckMoveToConstRef: false
  hicpp-move-const-arg.CheckMoveToConstRef: false