---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -google-readability-todo,
  -modernize-use-nodiscard,
  -readability-avoid-const-params-in-decls,
  -cppcoreguidelines-macro-usage,
  -bugprone-macro-parentheses,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -hicpp-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -hicpp-no-array-decay,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -misc-no-recursion,
  -readability-const-return-type,
  -readability-avoid-nested-conditional-operator,
  -google-explicit-constructor,
  -modernize-use-trailing-return-type,
  -modernize-type-traits,
  -cppcoreguidelines-avoid-do-while,
  -readability-function-cognitive-complexity,
  -hicpp-uppercase-literal-suffix,
  -readability-uppercase-literal-suffix,
  -misc-include-cleaner,
  -google-readability-avoid-underscore-in-googletest-name,
  -bugprone-easily-swappable-parameters,
  -misc-non-private-member-variables-in-classes



  Disable self-tests by default in CMakeLists.txt and clean up gtest_ct.h macros for consistency.